<table class="table table-stripped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Author</th>
      <th>Name</th>
      <th>Slug</th>
      <th>Content</th>
      <th>Created at</th>
      {% if is_granted('ROLE_ADMIN') %}
        <th>Actions</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for post in posts %}
      <tr>
        {% if is_granted('ROLE_ADMIN') %}
          <td><a href="{{ path('admin_posts_show', {'id': post.id}) }}">{{ post.id }}</a></td>
        {% else %}
          <td><a href="{{ path('homepage_view', {slug: post.slug}) }}">{{ post.id }}</a></td>
        {% endif %}
        <td><a href="{{ path('author.posts', {id: post.user.id}) }}">{{ post.user.username }}</a></td>
        <td>{{ post.name }}</td>
        <td>{{ post.slug }}</td>
        <td>{{ post.content }}</td>
        <td>{% if post.createdAt %}{{ post.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
        {% if is_granted('ROLE_ADMIN') %}
          <td>
            <ul>
              <li>
                <a href="{{ path('admin_posts_show', { 'id': post.id }) }}">show</a>
              </li>
              <li>
                <a href="{{ path('admin_posts_edit', { 'id': post.id }) }}">edit</a>
              </li>
            </ul>
          </td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>