{% extends "base.html.twig" %}

{% block body %}
  <table class="table">
    <tbody>
      <tr>
        <th>Title</th>
        <td>{{ post.name }}</td>
      </tr>
      <tr>
        <th>Author</th>
        <td>By <a href="{{ path('author.posts', {id: post.user.id}) }}">{{ post.user.username }}</a></td>
      </tr>
      <tr>
        <th>Category</th>
        <td>{{ post.category.name }}</td>
      </tr>
    </tbody>
  </table>

  {{ post.content | markdown }}

  <h2><span id="count-comments">{{ post.comments.count }}</span> Commentaire{% if post.comments.count > 1 %} s{% endif %}</h2>

  {% for comment in post.comments %}
    <div style="padding-bottom: 10px;">
      <div>{{ comment.username }}</div>
      <div>{{ comment.createdAt | date('d/m/Y') }}</div>
      <div>{{ comment.content }}</div>
    </div>
  {% endfor %}

  <div>
    <h2>Nouveau commentaire</h2>
    {{ form_start(form_comment) }}
    {{ form_widget(form_comment) }}
    <div class="form-group">
      <button class="btn btn-primary" type="submit">{{ 'form.submit' | trans }}</button>
    </div>
    {{ form_end(form_comment) }}
  </div>
{% endblock %}
